<%= form_with(model: family, local: true) do |form| %>
  <% if family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
      <% family.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kid %>
    <%= form.text_field :kid, :class => 'form-input' %>
  </div>

  <div class="field">
    <%= form.label :parent_name %>
    <%= form.text_field :parent_name, :class => 'form-input' %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, :class => 'form-input' %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, :class => 'form-input' %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, :class => 'form-input' %>
  </div>

  <div class="actions">
    <%= form.submit 'Add', :class => 'action-button' %>
  </div>
<% end %>
