<p id="notice"><%= notice %></p>

<p>
  <strong>Kid:</strong>
  <%= @family.kid %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @family.last_name %>
</p>

<p>
  <strong>Parent name:</strong>
  <%= @family.parent_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @family.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @family.phone_number %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
